.amount-container {
    background-color: gray;
    width: 80%;
    border-radius: 12px;
    margin-top: 22px;
    margin-bottom: 32px;
    padding: 22px;
    position: relative;
}

.amount-container input[type=number] {
    font-size: 28px;
    font-weight: 300;
    border-radius: 6px;
    width: 100%;
    text-align: center;
}

.shortcuts-container {
    /* border: 1px solid red; */
    width: 100%;
}
.title {
    font-size: 22px;
    font-weight: 300;
    /* margin-top: 6px; */
}
.shortcuts-container .subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
}

.btns-container {
    margin-top: 6px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.clean-btn {
    display: none;
}

/* media query for wider screens > tablets && desktops */
@media screen and (min-height: 739px) {
    .clean-btn {
        display: block;
        position: absolute;
        width: 80px;
        height: 80px;
        background-color: rgb(223, 223, 223);
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, 100%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clean-btn img {
        width: 48px;
        height: 48px;
    }
}