.amount-container {
    background-color: var(--cardgreymid);
    width: 90%;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px;
    position: relative;
}

.amount-container input[type=number] {
    font-size: 28px;
    font-weight: 600;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    border: 0;
    outline: 0;
    margin-top: 8px;
}

.shortcuts-container {
    width: 100%;
}

.amount-container .title {
    font-family: 'Titan One', cursive;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    color: var(--apptextcolordark);
}

.shortcuts-container .subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-top: 12px;
    color: var(--apptextcolordark);
}

.btns-container {
    margin-top: 6px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.clean-btn,
.edit-btn {
    cursor: pointer;
    color: var(--cardgreylight);
    box-shadow: 0 0 12px 0 var(--shadows);
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--cardgreylight);
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean-btn {
    display: none;
}

.clean-btn .icon,
.edit-btn .icon {
    width: 38px;
    height: 38px;
}

/* media query for wider screens > tablets && desktops */
@media screen and (min-height: 690px) {
    .clean-btn,
    .edit-btn {
        display: flex;
    }
    
    .clean-btn .icon,
    .edit-btn .icon {
        width: 34px;
        height: 34px;
        opacity: .5;
    }
}