.balance-container {
    background-color: var(--cardgreylight);
    border-radius: 12px;
    align-self: center;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 12px 0 var(--shadows);
}

.balance-container.compact {
    position: sticky;
    top: 0;
    border-radius: 0 0 12px 12px;
}

.balance-container .header {
    color: var(--apptextcolordark);
    font-weight: 300;
    font-size: 26px;
    width: 100%;
    margin-top: 12px;
    font-family: 'Titan One', cursive;
}

.balance-container.compact .header,
.balance-container.compact .balance-total {
    display: none;
}

.balance-container .balance-total {
    font-family: 'Titan One', cursive;
    font-weight: 300;
    font-size: 28px;
}

.balance-container .balance-total span {
    font-family: 'Titan One', cursive;
    font-size: 18px;
}

.balance-container .earnt-spent-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.balance-container .earnt-spent-container .earnt,
.balance-container .earnt-spent-container .spent {
    width: 40%;
    margin: 10px;
}

.earnt .title,
.spent .title {
    font-size: 16px;
    color: var(--apptextcolordark);
    font-family: 'Titan One', cursive;
}

.balance-container.compact .earnt .title,
.balance-container.compact .spent .title {
    display: none;
}

.earnt {
    color: var(--earntcolor);
}

.spent {
    color: var(--spentcolor);
}

.earnt .amount,
.spent .amount {
    font-size: 28px;
    font-family: 'Titan One', cursive;
}

.amount span {
    font-family: 'Titan One', cursive;
    font-size: 18px;
}

.earnt .title,
.spent .title {
    color: var(--cardgreydark);
    color: var(--apptextcolordark);
}

.graph-larger {
    width: 90%;
    height: 30px;
    border-radius: 25px;
    margin-top: 6px;
}

.graph-larger.earnt,
.graph-shorter.earnt {
    background-color: var(--earntcolor);
}

.balance-container.compact .graph-larger {
    margin-top: 22px;
}

.graph-shorter {
    width: 60%;
    height: 100%;
    border-radius: 12px 0 0 12px;
}

.graph-larger.spent,
.graph-shorter.spent {
    background-color: var(--spentcolor);
}

.balance-container .footer {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: center;
}

.balance-container.compact .footer {
    display: none;
}