.balance-container {
    /* border: 1px solid yellow; */
    background-color: rgba(240, 248, 255, 1);
    border-radius: 12px;
    align-self: center;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.balance-container.compact {
    position: sticky;
    top: 0;
    border-radius: 0 0 12px 12px;
}
.balance-container .header {
    /* border: 1px solid yellowgreen; */
    color: black;
    font-weight: 300;
    font-size: 26px;
    width: 100%;
    margin-top: 12px;
}
.balance-container.compact .header {
    display: none;
}

.balance-container .earnt-spent-container {
    /* border: 1px solid tomato; */
    display: flex;
    width: 100%;
    justify-content: center;
}
.balance-container .earnt-spent-container .earnt,
.balance-container .earnt-spent-container .spent {
    /* border: 1px solid whitesmoke; */
    width: 40%;
    margin: 10px;
}
.earnt .title,
.spent .title {
    font-weight: 300;
    font-size: 14px;
    color: black;
}
.balance-container.compact .earnt .title,
.balance-container.compact .spent .title {
    display: none;
}
.earnt .amount,
.spent .amount {
    font-weight: 600;
    font-size: 22px;
}
.amount span {
    font-size: 16px;
}
.earnt {
    color: yellowgreen;
}
.spent {
    color: tomato;
}

.balance-container .graph-spent {
    /* border: 1px solid dodgerblue; */
    width: 90%;
    height: 30px;
    background-color: tomato;
    border-radius: 25px;
    margin-top: 6px;
}
.balance-container.compact .graph-spent {
    margin-top: 22px;
}

.balance-container .graph-earnt {
    /* border: 1px solid pink; */
    width: 60%;
    height: 100%;
    background-color: greenyellow;
    border-radius: 12px;
}

.balance-container .footer {
    /* border: 1px solid palegoldenrod; */
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: center;
}
.balance-container.compact .footer {
    display: none;
}

.balance-container .footer p {
    font-size: 12px;
    font-weight: 300;
    color: black;
    display: inline-block;
    margin-left: 6px;
}
.balance-container .footer img {
    width: 19px;
    height: 19px;
}
