.logout-btn {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-btn img {
    width: 60%;
    height: 60%;
}
.logout-btn p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}