.logout-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--cardgreylight);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 6px;
    cursor: pointer;
    box-shadow: 0 0 12px 0 var(--shadows);
}

.logout-btn img {
    width: 50%;
    height: 50%;
    transform: translateX(4px);
    opacity: .5;
}

p {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: var(--apptextcolordark);
    margin-bottom: 22px;
}