.logout-btn {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 6px;
    cursor: pointer;
}
.logout-btn img {
    width: 60%;
    height: 60%;
    transform: translateX(4px);
}
p {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}