.recordlist-container {
    background-color: var(--cardgreylight);
    border-radius: 12px 12px 0 0;
    align-self: center;
    width: 70%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0 calc(var(--navbarheight) + 22px) 0;
    position: relative;
    /* z-index: -10; */
    color: var(--apptextcolordark);
}

.recordlist-container .header {
    position: absolute;
    top: 0;
    background-color: var(--accentcolor);
    width: 100%;
    height: 120px;
    text-align: center;
    border-radius: 12px 12px 50% 50%;
}

.recordlist-container .header p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Titan One', cursive;
    color: var(--apptextcolor);
}

 .selector {
    align-items: center;
    width: 100%;
    position: relative;
}

.selector select {
    font-size: 14px;
    font-weight: 300;
    color: var(--apptextcolordark);
    padding: 2px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 6px;
    color: black;
}

.recorditems-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 32px;
}