/* small sanitizer && default font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;;
    font-weight: 200;
}

/* color palette and constants */
:root {
    --appbackground: #111f27;
    --navbarbackground: rgba(255, 255, 255, .8);
    --apptextcolor: #fff;
    --navbartextcolor: #394347;
    --shadows: rgba(17, 17, 17, .8);
    --accentcolor: dodgerblue;
    --navbarheight: 70px;
    --navbarincomecolor: rgb(134, 240, 152);
    --navbarexpensecolor: rgb(230, 74, 74);
}

/* layout (mobile first) */
body {
    /* overflow: hidden; */
    /* TODO: workaround to hide scrollbars. using overflow blocks react getting Y offset */
    background-color: var(--appbackground);
    color: var(--apptextcolor);
}

.main-content {
    padding-top: 12px;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-container {
    background-color: white;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    align-self: center;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-scroll {
    /* hide scrollbars but allows to scroll */
    /* (not working with react useEffect to get scrollY of components) */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.no-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}